<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <hooks>
      <hook type="Sitecore.Support.Hooks.UpdateExmItems,Sitecore.Support.150067" />
    </hooks>
	<api>
      <services>
        <configuration>
          <allowedControllers hint="list:AddController">
            <allowedController desc="CustomRecipientListsController">Sitecore.Support.EmailCampaign.Server.Controllers.DataSource.CustomRecipientListsController, Sitecore.Support.150067</allowedController>
		  </allowedControllers>
        </configuration>
      </services>
    </api>
  </sitecore>
</configuration>